body {
  background-image: url('trivia-bgimage.jpg');
}

.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: white;
  font-size: 150px;
  font-family: 'Roboto' , sans-serif;
  height: 250px;
  margin: 0px 400px 100px 400px;
  padding: 100px 200px 100px 200px;
  text-align: center;
  line-height: 230px;
}

.statement {
  color: white;
  font-size: 35px;
  height: 250px;
  text-align: center;
  line-height: 230px;
  margin: 0px 0px 100px 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#true {
  background-color: purple;
  color: white;
  font-size: x-large;
  margin: 0px 50px 0px 0px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

#false {
  background-color: purple;
  color: white;
  font-size: x-large;
  margin: 0px 0px 0px 50px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
