.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: blue;
  height: 300px;
  margin: 0px 0px 100px 0px;
  padding: 100 200 100 200;
  text-align: center;
  border-style: solid;
  border-color: black;
}

section {
  background-color: purple;
  height: 250px;
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;


}

#true {
  background-color: green;

}

#false {
  background-color: red;
}
